.ql-snow .ql-stroke {
  stroke: #ccc;
}

.ql-snow button:hover .ql-stroke {
  stroke: #ff79c6 !important;
}

.ql-snow .ql-active .ql-stroke {
  stroke: #ff79c6 !important;
}

.ql-snow .ql-fill {
  stroke: #ccc;
}

.ql-snow button:hover .ql-fill {
  stroke: #ff79c6 !important;
}

.ql-snow .ql-active .ql-fill {
  stroke: #ff79c6 !important;
}

.ql-toolbar.ql-snow {
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.ql-container.ql-snow {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 16px;
  min-height: 100px;
}

.ql-snow .ql-tooltip {
  background-color: #44475a;
  color: #f8f8f2;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #aeaeae;
  border: none;
}
.ql-snow .ql-tooltip[data-mode="link"]::before {
  content: "URL:";
}

.ql-snow .ql-tooltip a {
  color: #ff79c6;
}
.ql-snow .ql-tooltip input {
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
}
.ql-snow .ql-tooltip input:focus {
  border: 1px solid #ff79c6;
}

.ql-editor ol,
.ql-editor ul {
  padding-left: 0;
}

.ql-snow a {
  color: #ff79c6;
}
